@model EFCoreDemo.Dtos.ShopItemIndex

@using (Html.BeginForm("Index", "ShopItem", FormMethod.Post))
{

    @Html.LabelFor(s => s.ShopId)
    @Html.DropDownListFor(s => s.ShopId, new MultiSelectList(Model.Shops, "Id", "Name"), "All")

    <input type="submit" value="Submit" />
}
<ul>
    @foreach (var shopItem in Model.ShopItems)
    {
        <li>
            @shopItem.Name @shopItem.Shop?.Name @Html.ActionLink("Edit", "Edit", "Shop", new { id = shopItem.Id })
            @Html.ActionLink("Delete", "Delete", "Shop", new { id = shopItem.Id })
        </li>

    }
</ul>